
@{
    ViewData["Title"] = "Details";
}

@model TEST2.Models.ApplicationUser

<h2>@ViewBag.PageTitle</h2>

<div class="w3-container">
    @Html.SmallList(@Model.FirstName, Model.LastName, Model.Pesel, Model.DateOfBirth, Model.Email)
</div>
<div class="card-footer text-center btn-right-class">
    <a asp-controller="AdminPage" asp-action="index" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
    <a asp-controller="AdminPage" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-controller="AdminPage" asp-action="delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
</div>

<div>@Html.CreatedBy()</div>



