
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<TEST2.Models.ApplicationUser>
<!--małpa model  TEST2.Models.ApplicationUser-->

<h1>@ViewBag.PageTitle</h1>
<h2>Here you can see list of users</h2>

<div>
    <table class="table-width">
        <thead>
            <tr>
                <th class="header_font_size">Firstname</th>
                <th class="header_font_size">Lastname</th>
                <th class="header_font_size">E-mail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var applicationUser in Model)
            {
                <tr>
                    <td class="child_font_size">@applicationUser.FirstName</td>
                    <td class="child_font_size">@applicationUser.LastName</td>
                    <td class="child_font_size">@applicationUser.Email</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="card-footer text-center btn-right-class">
                            <!-- <a href="Url.Action("Details","AdminPage", new { id = applicationUser.Id})" class="btn btn-primary">View</a> -->
                            <a asp-controller="AdminPage" asp-action="details" asp-route-id="@applicationUser.Id" class="btn btn-primary">View</a>
                            <a asp-controller="AdminPage" asp-action="edit" asp-route-id="@applicationUser.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="AdminPage" asp-action="delete" asp-route-id="@applicationUser.Id" class="btn btn-danger">Delete</a>
                            <!-- <a href="#" class="btn btn-primary">View</a>    <a href="#" class="btn btn-primary">Edit</a>    <a href="#" class="btn btn-danger">Delete</a>-->
                        
                        </div>
                    </td>                    
                </tr>
            }
        </tbody>
    </table> 
</div>

